@charset 'UTF-8';
@import './common/var.scss';
@import 'mixins/_button';
@import 'mixins/mixins';
@import 'mixins/utils';
@include b(button){
  display: inline-block;
  line-height:1;
  white-space: nowrap;
  cursor: pointer;
  background-color: $--button-default-fill;
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  border:$--border-base;
  border-color:$--button-default-border;
  color:$--button-default-color;
  text-align: center;
  font-weight: $--button-font-weight;
}
