.el-icon{
  width:1em;
  height:1em;
  vertical-align:-0.15em;
}
svg{
  fill:inherit;
  stroke:inherit;
  stroke-width:inherit;
}

.el-icon-loading{
  animation: rotating 2s linear infinite; 
}
@keyframes rotating{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}